@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

body, html {
    width:100%;
    height: 100%;
}







.container {
    width:100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.progress-border {
    width:30%;
    height: 15px

}






.progress {
    width: 0%;
    height: 100%;
    background-color: rgb(34, 166, 206);
    z-index: -999999;
    border-radius: 10px;
    transition: width 400ms;
}
.progress.cir1 {
    width: 30%;
}

.progress.cir2 {
    width: 65%;
}
.progress.cir3 {
    width: 100%;
}

button { 
    position: absolute;
    background-color: rgb(34, 166, 206);
    border-radius: 20px;
    padding: 12px 20px;
    cursor: pointer;
    color:white;
    font-weight: 800;
    outline: none;
    border:none;
    z-index: 99999999;
    transition: background-color 250ms;
    user-select: none;
}

button:nth-child(3) { 
    top:60%;
    left:45%;
    transform: translate(-50%, -50%);
}
button:nth-child(2) {
    top:60%;
    left:55%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: rgb(86, 193, 225);
}

#next.disabled {
    background-color:gray;
    cursor: not-allowed;
}
#prev.disabled {
    background-color:gray;
    cursor: not-allowed;
}



.circles {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid gray;
    background-color: #fff;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    transition: border 400ms;
    user-select: none;
    cursor: pointer;
}

.circles:nth-child(2) {
    left:35%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circles:nth-child(3) {
    left:45%;
    top:50%;
    transform: translate(-50%, -50%);
}

.circles:nth-child(4) {
    left:55%;
    top:50%;
    transform: translate(-50%, -50%);
}

.circles:nth-child(5) {
    left:65%;
    top:50%;
    transform: translate(-50%, -50%);
}

.circles.active {
    border: 7px solid rgb(34, 166, 206);
}




/*                                  End Of File                                          */

.foot {
    position: absolute;
    top:100%;
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000;
    flex-wrap: wrap;
}
.foot * {
    color:white;
    width:100%;
}
